# Ignore all data files dropped into the input folder, but keep the folder itself
input/*
!input/.gitkeep

# Secrets
.env

# wandb local run files
wandb/

# training outputs
output/*
!output/.gitkeep
